{{#extends "base"}}

{{#block "content"}}
<h1>Customers</h1>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                SEARCH CUSTOMER
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form method="GET">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" value="{{searchParams.first_name}}" id="firstName"
                            name="first_name">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" value="{{searchParams.last_name}}" id="lastName"
                            name="last_name">
                    </div>
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="text" class="form-control" value="{{searchParams.rating}}" id="rating"
                            name="rating">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rating</th>
            <th>Company Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each allCustomers}}
        <tr>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.name}}</td>
            <td><a href="/customers/{{customer_id}}/edit" class="btn btn-sm btn-primary" role="button"
                    style="width: 100px">Edit</a></td>
            <td><a href="/customers/{{customer_id}}/delete" class="btn btn-sm btn-danger" role="button"
                    style="width: 100px">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a class="btn btn-primary" href="/customers/create" role="button">Add new customer</a>
{{/block}}

{{/extends}}